<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCiPWnO9zAnrn9jqlwbcWW113AGmsDefo4</string>
	<key>GCM_SENDER_ID</key>
	<string>153090284883</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calendarApp</string>
	<key>PROJECT_ID</key>
	<string>calendar-app-6211b</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-app-6211b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:153090284883:ios:eb52c605325acdbcee55a6</string>
</dict>
</plist>